@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rizdom');
  src:  url('fonts/icomoon.eot?rizdom#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rizdom') format('truetype'),
    url('fonts/icomoon.woff?rizdom') format('woff'),
    url('fonts/icomoon.svg?rizdom#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\ea96";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-steam:before {
  content: "\eaac";
}
.icon-steam2:before {
  content: "\eaad";
}
.icon-github:before {
  content: "\eab0";
}
.icon-android:before {
  content: "\eac0";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-user:before {
  content: "\f007";
}
.icon-lock:before {
  content: "\f023";
}
.icon-qq:before {
  content: "\f1d6";
}
.icon-wechat:before {
  content: "\f1d7";
}
.icon-weixin:before {
  content: "\f1d7";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-heart-o:before {
  content: "\f08a";
}
